{
  "type": "postgres",
  "host": "db",
  "port": 5432,
  "username": "postgres",
  "password": "",
  "database": "nodesrv",
  "synchronize": true,
  "logging": false,
  "entities": [
    "src/room/model/*.ts",
    "src/mob/model/*.ts",
    "src/player/model/*.ts",
    "src/attributes/model/*.ts",
    "src/item/model/*.ts",
    "src/affect/model/*.ts",
    "src/spell/model/*.ts",
    "src/skill/model/*.ts",
    "src/region/model/*.ts"
  ],
  "migrations": [
    "src/migration/**/*.ts"
  ],
  "subscribers": [
    "src/subscriber/**/*.ts"
  ]
}